# Set URL for your scoped packages.
# For example package with name `@coll4tech/utfpr-lib-ui-react` will use this URL for download
@coll4tech:registry=https://gitlab.com/api/v4/packages/npm/

# Add the token for the scoped packages URL. This will allow you to download
# `@coll4tech/` packages from private projects.
//gitlab.com/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}